
    <ion-pane style="background: url(img/win1.png) center; background-size: cover;"> 
      <ion-content style="background: url(img/win1.png) center; background-size: cover;">
        
		<div class="hero no-header flat">
            <div class="content"> 
                <div class="app-icon"></div>
            </div>
        </div>
		

		<div class = "row">
			<div class = "col">
				<div class="padding">
					<button ng-click="mcatap()" class="btn2 button button-full" ><font color="white"> <b>MCA</b></font></button>
				</div>
			</div>
			<div class = "col">
				<div class="padding">
					<button ui-sref="app.profile" class="btn2 button button-full "><font color="white"> <b>ECE</b></font></button>
				</div>
			</div>
		</div>
		
		<div class = "row">
			<div class = "col">
				<div class="padding">
					<button ui-sref="app.profile" class="btn2 button button-full "><font color="white"> <b>IT</b></font></button>
				</div>
			</div>
			<div class = "col">
				<div class="padding">
					<button ui-sref="app.profile" class="btn2 button button-full "><font color="white"> <b>EE</b></font></button>
				</div>
			</div>
		</div>
		
		<div class = "row">
			<div class = "col">
				<div class="padding">
					<button ui-sref="app.profile" class="btn2 button button-full"><font color="white"> <b>CSE</b></font></button>
				</div>
			</div>
			<div class = "col">
				<div class="padding">
					<button ui-sref="app.profile" class="btn2 button button-full"><font color="white"> <b>HU</b></font></button>
				</div>
			</div>
		</div>
		
	<!--	<div class="bar bar-footer" style="background:transparent">
				<div class="button-bar">
				   <a class="button button-positive" ng-click="percentage()">Percentage Calculate</a>
				   <a class="button button-assertive">Find One</a>
				</div>
		</div>-->
			
      </ion-content>
    </ion-pane>
