<ion-pane style="background: url(img/win1.png) center; background-size: cover;"> 
      <ion-content style="background: url(img/win1.png) center; background-size: cover;">
        
		<div class="bar bar-header" style="background:transparent">
						<h2 class="title"><i class="icon ion-ios-book-outline"></i>  MCA  </h2>
						
		</div>
		
		<ion-tabs class="tabs-top tabs-striped tabs-color-light" style="padding:50px">
			<ion-tab title="ODD">
				<ion-nav-view name="Odd-sem">
				    <div class = "list has-header has-tabs" style="padding:50px">
						  <label class = "item item-input item-select item-dark" style="background:transparent">
							  <div class = "input-label">
								 Semester 1
							  </div>
								
							  <select onchange="location=this.value" style="background:transparent">
								 <option selected></option>
								 <option>MCA101(Architecture)</option>
								 <option>MCA102(Business System )</option>
								 <option value="#/cprog">MCA103(C)</option>
								 <option>MM101(Discrete Math)</option>
								 <option>HU101(Business English)</option>
								 <option>MCA191(Architecture Lab)</option>
								 <option>MCA193(C Lab)</option>
								 <option>HU191(Language Lab)</option>
								
							  </select>
					      </label>
						  <br>
						  <br>
						  <label class = "item item-input item-select item-dark" style="background:transparent">
							  <div class = "input-label">
								 Semester 3
							  </div>
								
							  <select style="background:transparent" >
								 <option selected></option>
								 <option">Programming with C</option>
								 <option">Data Structure</option>
								 <option>Automata</option>
							  </select>
						   </label>
							<br>
							<br>
							 <label class = "item item-input item-select item-dark" style="background:transparent">
								  <div class = "input-label">
									 Semester 5
								  </div>
									
								  <select style="background:transparent">
									 <option selected></option>
									 <option>Programming with C</option>
									 <option>Data Structure</option>
									 <option>Automata</option>
								  </select>
							 </label>
					</div>
		 		</ion-nav-view>
		    </ion-tab>
			
			<ion-tab title="EVEN">
				<ion-nav-view name="Odd-sem">
				    <div class = "list has-header has-tabs" style="padding:50px">
					
							   <label class = "item item-input item-select item-dark" style="background:transparent">
								  <div class = "input-label">
									 Semester 2
								  </div>
									
								  <select style="background:transparent">
									 <option selected></option>
									 <option>Programming with C</option>
									 <option>Data Structure</option>
									 <option>Automata</option>
								  </select>
							   </label>
					<br>
		   
					<br>
								<label class = "item item-input item-select item-dark" style="background:transparent">
								  <div class = "input-label">
									 Semester 4
								  </div>
									
								  <select style="background:transparent">
									 <option selected></option>
									 <option>Programming with C</option>
									 <option>Data Structure</option>
									 <option>Automata</option>
								  </select>
							   </label>
					<br>
		  
					<br>
							   <label class = "item item-input item-select item-dark" style="background:transparent">
								  <div class = "input-label">
									 Semester 6
								  </div>
									
								  <select style="background:transparent">
									 <option selected></option>
									 <option>Programming with C</option>
									 <option>Data Structure</option>
									 <option>Automata</option>
								  </select>
							   </label>
								
					</div>
			</ion-tab>
	</ion-tabs>
		
		
		</ion-pane>	

      </ion-content>
 