
<ion-side-menus enable-menu-with-back-views="true">
		<ion-side-menu-content >
		
				<ion-nav-view>
				
					<ion-content style="background:#516991; background-size: cover;">
						<div class="row" style="background:#011f4b; font-weight:bold">
								<div class="col col-33" style="padding-top:0px"><button menu-toggle="left" class="button button-icon ion-navicon" style="text-align:left; font-size:32px; color:white"></button></div>
								<div class="col col-33" class="button-bar" style="text-align:center; font-size:14px;">
									<button  class="button button-assertive button-small" ng-disabled="clsdisabled" ng-click="addclass1()" ><b>1</b></button>
									<button  class="button button-assertive button-small" ng-disabled="clsdisabled" ng-click="addclass2()" ><b>2</b></button>
									<button  class="button button-assertive button-small" ng-disabled="clsdisabled" ng-click="addclass3()" ><b>3</b></button>
								</div>
								<div class="col col-33" style="text-align:right; font-size:12px; color:white">{{currentdate | date:'dd/MM/yyyy'}}<br>CLASSES &nbsp{{ttlcls}}</div>
						</div>
						
						<div class="row" style="background:#011f4b;">
						<div class="col col-100" style="text-align:center; color:#ffd026; font-weight:bold">Paper: &nbsp{{classcode}}</div> 
						</div>
						
					
						<div class="row" style="padding-bottom:0px; background:#011f4b">
							<div class="col col-20" style="font-weight:bold">ROLL</div>
							<div class="col col-40" style="font-weight:bold">NAME</div>
							<div class="col col-10" style="font-weight:bold">P/A</div>
							<div class="col col-20" style="font-weight:bold">TOTAL</div>
							<div class="col col-10" style="font-weight:bold">N/A</div>
						</div>
						<div class="row" ng-repeat="data in std">
							<div class="col col-20">{{data.Roll}}</div>
							<div class="col col-40">{{data.name}}</div>
							<div class="col col-10"><button  class="button button-small button-balanced icon ion-checkmark-round" ng-disabled="data.isdisabled" ng-click="atdata(data)"></button></div>
							<div class="col col-20">{{ttl[$index]}}</div>
							<div class="col col-10"><button  class="button button-small button-assertive icon ion-close-round" ng-disabled="data.isdisabledred" ng-click="remove(data)"></button></div>
						</div>
						
						
						
					</ion-content>
				
				</ion-nav-view>
		</ion-side-menu-content>
			
		<ion-side-menu side="left">
				<ion-header-bar class="bar-royal">
					<h1 class="title"><i class="icon ion-home"> </i>Menu</h1>
				</ion-header-bar>
				<ion-content >
					<ion-list >

						<ion-item menu-close ng-click="home()">Home</ion-item>
					
						<ion-item menu-close ng-click='percentage()'>Percentage</ion-item>
				
					</ion-list>
						
					<ion-list>
						<ion-item menu-close ng-click="logout()">Logout</ion-item>
					</ion-list>
					
					
				</ion-content>
		</ion-side-menu>
		</ion-side-menus>

